<div class="card">

    <div class="ui segment">
        <div class="ui active inverted dimmer" *ngIf="isLoading">
            <div class="ui medium text loader">{{processText}}</div>
        </div>

        <h2>上ヒゲ</h2>
        <div class="ui form">
            <br>
            <div class="inline fields" id="purchase_pattern_radio">
                <h4>購入条件</h4>
                <form name="myForm" ng-controller="Ctrl">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" [value]="0" [checked]="purchasePattern == 0">
                            <label (click)="selectPurchasePattern(0)">次の足の始値で購入</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" [value]="1" [checked]="purchasePattern == 1">
                            <label (click)="selectPurchasePattern(1)">現在値指値</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" [value]="2" [checked]="purchasePattern == 2">
                            <label (click)="selectPurchasePattern(2)">現在値指値/利確指値</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <br>

        <div>
            <h4>売却条件</h4>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" [value]="0" [checked]="sellPattern == 0">
                    <label (click)="selectSellPattern(0)">陰線出現で売却</label>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" [value]="1" [checked]="sellPattern == 1">
                    <label (click)="selectSellPattern(1)">一定期間保持</label>
                </div>
            </div>
            <div class="ui mini input hold-daynum-input">
                <input type="number" [(ngModel)]="holdDays" [hidden]=!isHoldingAtDays>
            </div>
            <label [hidden]=!isHoldingAtDays>日</label>
        </div>

        <br>
        <br>

        <div class="inline fields">
            <h4>価格帯絞り込み</h4>
            <div class="ui small input">
                <input type="number" [(ngModel)]="priceBandLow" class="price_band_input">
            </div>
            <label>円　〜</label>
            <div class="ui small input">
                <input type="number" [(ngModel)]="priceBandHigh" class="price_band_input">
            </div>
            <label>円</label>
            <br>
            <br>
            <h4>上ヒゲの長さ</h4>
            <div class="ui small input">
                <input type="number" [(ngModel)]="purchaseTrigger">
            </div>
            <label>％</label>
        </div>

        <br>

        <button class="ui blue big button" (click)="startSimulate()">start</button>

    </div>

    <label id="progress"></label>

    <br>
    <br>

    <label id="result_label"></label>
    <div class="canvas_div">
        <canvas class="priceRange" id="priceRange"></canvas>
    </div>
    <div class="canvas_div">
        <canvas class="period" id="period"></canvas>
    </div>
</div>